@model NPT_Teatro.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Inicio";
}

    <div class="row fondoTitulo mt-5" style="border: solid 2px; border-radius: 20px;">
        <div class="col-sm-12 py-5" >
            <h1 class="text-center text-white">Próximas funciones</h1>
        </div>
    </div>



@if (Model.ListaFunciones.Count() > 0)
{
   
    <div class="row">
        @foreach (var funcion in Model.ListaFunciones.OrderBy(o => o.Id))
        {
             <div class="col-3 mb-5 mt-5">
                 <div class="card" style="background-color: #bdc3c7">
                     <img src="@funcion.UrlImagen" class="img-thumbnail" />
                     <div class="card-body">
                         <!--<h5 class="tex-center"></h5>-->
                         <p>@funcion.Fecha</p>
                         <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@funcion.Id">Más información</a>
                     </div>
                 </div>
             </div>
        }
    </div>
}
else
{
    <p>No hay funciones próximas</p>
}